<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Authorization Application</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" th:href="@{/assets/img/favicon.png}" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet">
  <link href="/static/assets/css/custom.css" th:href="@{/assets/css/custom.css}" rel="stylesheet">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="/static/assets/js/md5.min.js" th:src="@{/assets/js/md5.js}"></script>
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <img src="/static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" alt="">
                  <span class="d-none d-lg-block">Authorization Application</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>
                  <div th:if="${param.error}" style="height: 44px" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p th:if="${#strings.equals(param.error,'true')}">Invalid username or password.</p>
                    <p th:if="${!#strings.equals(param.error,'true')}" th:text="${param.error}">Invalid username or password.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <form  th:action="@{/auth/login}" method="post" onsubmit="DoSubmit(this);"  class="row g-3">

                    <div class="col-12">
                      <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input type="text" name="uname" class="form-control" id="username" placeholder="Username or Email" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <span class="input-group-text">🔑</span>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember-me" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12" th:if="${@environment.getProperty('google.recaptcha.enable')}">
                      <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}"
                           data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                      <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" >Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Forget my password?
                        <a href="#" th:href="@{/forget/password}"> Recover Password</a></p>
                      <p class="small mb-0">Don't have account? <a href="../register/register.html"
                                                                   th:href="@{/register/sign-up}">Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">

              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>

</html>