<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/error-default.css}" href="#" rel="stylesheet">
    <link href="/static/assets/css/error-default.css" rel="stylesheet">
    <title>401 UNAUTHORIZED</title>
</head>
<body>
<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i>401</i>
    </div>
    <h1>UnAuthorized</h1>
    <p>Authorization is required<br/>
        Please Login first then try aging.</p>
    <a href="/home">Home</a> <a href="/auth/login">Login</a>
</div>
</body>
</html>