<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/error-default.css}" href="#" rel="stylesheet">
    <link href="/static/assets/css/error-default.css" rel="stylesheet">
    <title>429 No Access</title>
</head>
<body>
<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i>429</i>
    </div>
    <h1>No Access</h1>
    <p>You are blocked for 24 hours<br/>
        Please don't try anymore.</p>
    <a href="#">Home</a>
</div>
</body>
</html>